.pagination {
    display: inline;
    list-style-type: none;
}

.page-item {
    color: black;
    float: left;
    padding: 8px 16px;
    text-decoration: none;
}

.page-link {
    cursor: pointer;
}